<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form [formGroup]="fg" (ngSubmit)="OnSubmit()">
    <ion-list-header color="tertiary">
      <ion-label class="ion-margin-top">
        <h2><b>ใส่เหตุผล</b></h2>
      </ion-label>
    </ion-list-header>

    <ion-item color="tertiary" lines="full">
      <ion-select formControlName="heading" slot="end" placeholder="โปรดเลือก">
        <ion-select-option value="รถเสีย">รถเสีย</ion-select-option>
        <ion-select-option value="ร้านอาหารไม่สามารถทำอาหารได้">ร้านอาหารไม่สามารถทำอาหารได้</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header color="tertiary">
      <ion-label class="ion-margin-top">
        <h2><b>หมายเหตุ</b></h2>
        <ion-item color="tertiary" class="ion-padding-top" lines="none">
          <ion-input formControlName="info" type=""></ion-input>
        </ion-item>
      </ion-label>
    </ion-list-header>
  </form>
</ion-content>

<ion-footer>
  <ion-button class="ion-no-margin" id="app-form-submit" (click)="OnSubmit()" [disabled]="fg.invalid" color="danger" expand="full">ตกลง
  </ion-button>
</ion-footer>