
// ion-input{
//     border:1px solid var(--ion-color-medium);
//     border-radius: 1rem;
// }
// ion-slide{
//     width:200px;
// }

.shop-img{
    height: 64px !important;
    width: 120px !important;
}

ion-avatar {
    width: unset !important;
    height: unset !important;
}

.location-center{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}