<ion-header>
  <ion-toolbar>
    <ion-title>shopSelect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" class="ion-padding-top" mode="ios">
  <ng-container *ngIf="openedRestaurantList$ | async as data">
    <ion-list color="tertiary">
      <ion-list-header color="tertiary" mode="md">
        <ion-label color="danger">
          <h1>ร้านแนะนำ</h1>
        </ion-label>
      </ion-list-header>
        <ion-item color="tertiary" lines="none" *ngFor="let item of data">
          <div class="ion-margin-end">
            <img [src]="item.logoImage" alt="">
            <ion-label class="ion-text-center">
              <p><b>{{ item.name }}</b></p>
            </ion-label>
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-text color="medium" >
                    <p>คาเฟ่</p>
                  </ion-text>
                </ion-label>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-label>
                  <ion-text color="medium" >
                    <p><ion-icon name="time-outline" color="danger"></ion-icon>10นาที</p>
                  </ion-text>
                </ion-label>
              </ion-col>
            </ion-row>
          </div>
        </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
