<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">
  <form [formGroup]="fg" (ngSubmit)="OnSubmit()">

    <ion-card color="tertiary" class="ion-padding-top">
      <ion-avatar class="center ion-margin-vertical avatar-m">
        <img src="assets/imgs/dfbiker.png">
      </ion-avatar>

      <ion-label class="ion-text-center">
        <h2><b>ให้คะแนนการบริการคนส่ง</b></h2>
      </ion-label>

      <ion-item color="tertiary" lines="full" class="ion-padding-bottom">
        <div class="rating center">
          <input type="radio" [checked]="riderRating===5" />
          <label (click)='showRiderRating(5)'>5 stars</label>

          <input type="radio" [checked]="riderRating===4" />
          <label (click)='showRiderRating(4)'>4 stars</label>

          <input type="radio" [checked]="riderRating===3" />
          <label (click)='showRiderRating(3)'>3 stars</label>

          <input type="radio" [checked]="riderRating===2" />
          <label (click)='showRiderRating(2)'>2 stars</label>

          <input type="radio" [checked]="riderRating===1" />
          <label (click)='showRiderRating(1)'>1 star</label>
        </div>
      </ion-item>
    </ion-card>

    <ion-card color="tertiary">
      <ion-avatar class="center ion-margin-vertical avatar-m">
        <img src="assets/imgs/dfrest.png">
      </ion-avatar>

      <ion-label class="ion-text-center">
        <h2><b>ให้คะแนนการบริการร้านอาหาร</b></h2>
      </ion-label>

      <ion-item color="tertiary" lines="none" class="ion-padding-bottom">
        <div class="rating center">
          <input type="radio" [checked]="restaurantRating===5" />
          <label (click)='showResataurantRating(5)'>5 stars</label>

          <input type="radio" [checked]="restaurantRating===4" />
          <label (click)='showResataurantRating(4)'>4 stars</label>

          <input type="radio" [checked]="restaurantRating===3" />
          <label (click)='showResataurantRating(3)'>3 stars</label>

          <input type="radio" [checked]="restaurantRating===2" />
          <label (click)='showResataurantRating(2)'>2 stars</label>

          <input type="radio" [checked]="restaurantRating===1" />
          <label (click)='showResataurantRating(1)'>1 star</label>
        </div>
      </ion-item>
    </ion-card>

    <ion-item color="tertiary" lines="none" class="ion-margin-top">
      <ion-label class="">
        <h2><b>คำแนะนำ</b></h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none" class="">
      <ion-textarea class="ion-no-padding" placeholder="เขียนคำแนะนำการให้บริการ" rows="4" formControlName="counsel">
      </ion-textarea>
    </ion-item>

    <ion-item color="light" lines="none" class="ion-text-center ion-padding">
      <ion-label color="medium">
        <h3>
          <img height="12" src="assets/imgs/bikedark.png">
          แจ้งรายงานปัญหา
        </h3>
      </ion-label>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button class="ion-no-margin" id="app-form-submit" [disabled]="fg.invalid" (click)="OnSubmit()" color="danger"
    expand="full">ตกลง
  </ion-button>
</ion-footer>