<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form [formGroup]="fg" (ngSubmit)="OnSubmit()">
    <ion-card-header color="tertiary">
      <ion-avatar class="center ion-margin-top">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkdV2Pr8PLYit-rTrXH9Fk6my1UtfpfWNLCvzvLtohVrxgDmIw6g&s">
      </ion-avatar>

      <ion-item color="tertiary" lines="none" class="ion-text-center ion-margin-top">
        <ion-label>
          <h2><b>ให้คะแนนการบริการ</b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <div class="rating center">
          <input type="radio" [checked]="rating===5" />
          <label (click)='showRating(5)'>5 stars</label>

          <input type="radio" [checked]="rating===4" />
          <label (click)='showRating(4)'>4 stars</label>

          <input type="radio" [checked]="rating===3" />
          <label (click)='showRating(3)'>3 stars</label>

          <input type="radio" [checked]="rating===2" />
          <label (click)='showRating(2)'>2 stars</label>

          <input type="radio" [checked]="rating===1" />
          <label (click)='showRating(1)'>1 star</label>
        </div>
      </ion-item>

      <ion-item color="tertiary" lines="none" class="ion-no-padding">
        <ion-label>
          <h2><b>คำแนะนำ</b></h2>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="none" class="ion-no-padding">
        <ion-textarea class="ion-no-padding" placeholder="เขียนคำแนะนำการให้บริการ" rows="4" formControlName="counsel">
        </ion-textarea>
      </ion-item>
    </ion-card-header>

    <ion-item color="light" lines="none" class="ion-text-center ion-padding">
      <ion-label color="medium">
        <h3>
          <img height="12" src="assets/imgs/bikedark.png">
          แจ้งรายงานปัญหา
        </h3>
      </ion-label>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button class="ion-no-margin" id="app-form-submit" [disabled]="fg.invalid" (click)="OnSubmit()" color="danger" expand="full">ตกลง
  </ion-button>
</ion-footer>