.boxStepProgressBar{ // ทั้งกล่อง
    margin-top: 5px;
    margin-bottom: 5px;
}

.nodeUnSuccess { //จุด
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    background-color: #9191a3;
}

.nodeSuccess { //จุด
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display:inline-block;
    background-color: #31aa04;
}

.lineUnSuccess { //เส้น
    height: 20px; //ความสูงของเส้น a ไป b
    width: 2px;
    margin-left: 4px;
    margin-top: -10px;
    margin-bottom: -9px;
    background-color: #9191a3;
}

.lineSuccess { //เส้น
    height: 20px; //ความสูงของเส้น a ไป b
    width: 2px;
    margin-left: 4px;
    margin-top: -10px;
    margin-bottom: -9px;
    background-color: #31aa04;
}

li p {
    display:inline-block;
    margin-left: 25px;
}

li {
    list-style: none;
    line-height: 1px;
}

.green{ background-color: rgba(92, 184, 92, 1); }
.grey { background-color: rgba(201, 201, 201, 1); }

