<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="light">
  <ng-container *ngIf="hasLoaded == 'y'">
    <ion-list *ngIf="data$ | async as data" lines="inset" class="ion-no-padding">
      <div *ngIf="data?.restaurant as item">
        <img
          [src]="item.bannerImage != null && item.bannerImage != 'string' ? item.bannerImage:'https://fk.lnwfile.com/nd9ddz.jpg'"
          width="450" height="170" />
        <ion-item lines="full" color="tertiary">
          <ion-label>
            <ion-note> เปิด 11.00 - 19.00 น. ทุกวัน</ion-note>
            <h2><b>{{item.name}}</b></h2>
            <h2>{{item.classification}}</h2>
            <h2>&nbsp;</h2>
            <ion-note>{{item.note}}</ion-note>
            <ion-note><small><ion-icon color="warning" name="star"></ion-icon></small>&nbsp;{{ item.rating }} - นาที - บาท</ion-note>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="data?.menu as cate">
        <ion-item lines="none" color="tertiary">
          <ion-segment scrollable="true" (ionChange)="segmentChanged(category)" [(ngModel)]="category" lines="none"
            mode="md">
            <div *ngFor="let c of cate">
              <ion-segment-button *ngIf="c.products.length > 0" [value]="c.categoryId">
                <ion-label color="dark">
                  <h2><b>{{c.categoryName}} </b></h2>
                </ion-label>
              </ion-segment-button>
            </div>
          </ion-segment>
        </ion-item>

        <div *ngFor="let c of cate">
          <div *ngIf="c.categoryId == segmentValue">

            <ion-item [disabled]="p.isSuspended" *ngFor="let p of c?.products" color="tertiary"
              (click)="onSelect(p._id)">
              <ion-thumbnail slot="start" class="ion-margin-vertical">
                <img
                  [src]=" p.previewImageUrl ? p.previewImageUrl :'assets/imgs/dfmenu.png'">
              </ion-thumbnail>
              <ion-text>
                <ion-label>
                  <h2><b>{{p.name}}</b></h2>
                  <ion-note>
                    <p *ngIf="p.isSuspended">สินค้าหมด</p>
                    <p *ngIf="!p.isSuspended">&nbsp;</p>
                  </ion-note>
                </ion-label>
              </ion-text>
              <ion-note color="dark" slot="end">
                <ion-label>
                  <h2><b>{{p.price | number}} <small>THB</small></b></h2>
                  <!-- TODO : แสดงสินค้าลดราคา -->
                  <h2>&nbsp;</h2>
                </ion-label>
              </ion-note>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="hasLoaded == 'n'">
    <ion-list lines="none">
      <ion-item color="tertiary" class="ion-text-center">
        <ion-label>ไม่มีรายการ</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>

    <hr style="background-color: black;">
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>

</ion-content>